{% extends 'base.html' %}
{% block content %}



<div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task.SL_No}}</h5>
                    <p><b> {{task.Item_Name}}</b></p>
                    <p><b>{{task.Description}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' task.id %}">Confirm</a>
                </div>
            </div>
{% endblock %}