{% extends 'base.html' %}
{% block content %}

<!-- <form method="POST">
    {% csrf_token %}
    {{fi.as_p}}
    <button type="submit">Confirm</button>
</form> -->
<!-- edit.html -->

<form method="POST" action="{% url 'update' task.id %}">
    {% csrf_token %}
    <label for="SL_No">SL No:</label>
    <input type="text" name="SL_No" value="{{ task.SL_No }}" required><br>
  
    <label for="Item_Name">Item Name:</label>
    <input type="text" name="Item_Name" value="{{ task.Item_Name }}" required><br>
  
    <label for="Description">Description:</label>
    <textarea name="Description" required>{{ task.Description }}</textarea><br>
  
    <input type="submit" value="Update">
  </form>
  
{% endblock %}